.todo-list {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 50vh;
  background-color: rgb(255, 238, 238);
  box-shadow: 14px 17px 5px 0px rgba(161, 161, 161, 0.51);
  -webkit-box-shadow: 14px 17px 5px 0px rgba(161, 161, 161, 0.51);
  -moz-box-shadow: 14px 17px 5px 0px rgba(161, 161, 161, 0.51);
}

.input {
  border: none;
  font-size: 15px;
  padding: 6px;
  outline: none;
}

.add_btn {
  margin-left: 5px;
  font-size: 15px;
  padding: 6px;
  border: none;
  background-color: rgb(255, 174, 174);
}

.todo-list {
  width: 100%;
  padding: 0;
}

.todo {
  display: flex;
  list-style: none;
  font-weight: 500;
  justify-content: space-between;
  margin-bottom: 3px;
}

.delete_btn {
  border: none;
  background-color: white;
  color: rgb(255, 85, 85);
  padding: 5px;
}
